body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.header {
    background-color: #232323;
    color: #ffffff;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}
.header a {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
}
.header li {
    float: left;
    display: inline;
    padding: 0 20px;   
}
.header .title-header {
    float: left;
}
.header .title-header h1 {
}
.nav {
    float: right;
    margin-top: 15px;
}
.header .highlight, .header .current a {
    color: #e8491d;
    font-weight: bold;
}
.main .container {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.main .container .container-box-one {
    width: 37%;
    background-color: #ffffff;
    height: 380px;
    margin-top: 20px;
    border-bottom: #e8491d 3px solid;
}
.main .container .container-box-one p {
    margin: 0 10px;
    text-align: justify;
    color: #e8491d;
}
.main .container .container-box-two {
    width: 37%;
    height: 380px;
    margin-top: 20px;
    background-color: #ffffff;
    border-bottom: #e8491d 3px solid;
}
.main .container .container-box-two p {
    color: #e8491d;
    margin: 0 10px;
    text-align: justify;
}
.main .container-bottom {
    width: 70%;
    background-color: #ffffff;
    height: 130px;
    margin: auto;
    margin-top: 20px;
    border-bottom: #e8491d 3px solid;
    text-align: center;
}
.main .container-bottom p {
    color: #e8491d;
}

